SECRET_KEY="any_key"
DEBUG=false
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,192.168.0.13,moviesxmovies.jonaykb.com
DB_ENGINE=django.db.backends.postgresql
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=bd_passowrd
DB_HOST=127.0.0.1
DB_PORT=5432
GRAFANA_USER=admin
GRAFANA_PASSWORD=una_password_segura